

@{
    ViewData["Title"] = "Home";
}

@model GoSkool.DTO.StudentHomePageModel;

<div class="container-fluid student-home">
    <div class="ms-5">
        <h1>Welcome @Model.Student.FirstName, @Model.Student.LastName</h1>
        <p>Class: @Model.Student.Class.Standard.ClassNumber@Model.Student.Class.Section.Name</p>
        <p>Address: @Model.Student.Address</p>
    </div>
    <div class="container">
        <h2>Exams</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Exam Name</th>
                    <th>Subject Name</th>
                    <th>Exam Date & Time</th>
                    <th>Status</th>
                    <th>Marks</th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<Model.Exams.Count;i++)
                {
                    var exam = Model.Exams[i];
                    var SubjectName = Model.Subjects[i];
                    var status = "Incompleted";
                    if (DateTime.Now > exam.ExamDate) status = "Completed";
                    <tr>
                        <td>@exam.Name</td>
                        <td>@SubjectName</td>
                        <td>@exam.ExamDate.ToString()</td>
                        <td>@status</td>
                        <td>@Model.Marks[i]</td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Model.Assignments != null)
        {
            <h2>Assignments</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>
                            Assignment Name
                        </td>
                        <td>
                            Assignment Description
                        </td>
                        <td>
                            Completion Status
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var assignment in Model.Assignments)
                    {
                        <tr>
                            <td>
                                @assignment.Title
                            </td>
                            <td>
                                @assignment.Description
                            </td>
                            @if (assignment.CompletedStudents.Contains(Model.Student))
                            {
                                <td>Complete</td>
                            }
                            else
                            {
                                <td>
                                    <form enctype="multipart/form-data" method="post" asp-action="UploadAssignment">
                                        <input asp-for="@Model.file" type="file" />
                                        <button type="submit"  class="btn btn-primary">Submit Assignment</button>
                                    </form>
                                    
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>


